# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.venv_temp/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.env/
.env.*
.venv/

# PyInstaller
*.manifest
*.spec

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code settings
.vscode/

# Logs
*.log

# SQLite database (opcional)
*.sqlite3

# Pytest cache
.pytest_cache/
data/*.sqlite
*.sqlite